.About {
  margin-top: 30px;
}

.About .info ul {
  color: #fff;
}

.About .info ul li {
  padding-bottom: 20px;
  font-size: 15px;
  word-wrap: break-word;
}

.About .info ul li span:first-child {
  text-transform: capitalize;
  opacity: 0.8;
}
