.Contact {
  color: #fff;
  margin-top: 30px;
}

.Contact .contact-p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.Contact .info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Contact .info svg {
  margin-right: 20px;
  color: var(--main-color);
}

.Contact .info .main div:first-child {
  text-transform: uppercase;
  opacity: .7;
}

.Contact .socials {
  display: flex;
  margin-bottom: 50px;
}

.Contact .socials li {
  margin-right: 20px;
}

.Contact .socials li a {
  background-color: var(--main-border-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
}

.Contact .socials li a:hover {
  background-color: var(--main-color);
}

.Contact .contact-form input, textarea {
  background-color: var(--main-border-color);
  border: 2px solid transparent;
  padding: 15px 20px;
  border-radius: 30px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.Contact .contact-form input::placeholder, textarea::placeholder {
  text-transform: uppercase;
}

.Contact .contact-form input:focus, textarea:focus {
  border-radius: 30px;
  border: 2px solid var(--main-color);
  outline: none;
}

.Contact .contact-form div:nth-child(4) textarea {
  height: 160px;
}
