.Experience {
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.Experience::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  border-left: 1px solid #333;
}

.Experience .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.Experience .icon svg {
  font-size: 25px;
}

.Experience .content {
  margin-left: 20px;
}

.Experience .content .time {
  display: inline-block;
  background-color: var(--main-border-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 1px 10px;
  border-radius: 20px;
  font-weight: 600;
  opacity: 0.8;
}

.Experience .content .text,
.Experience .content .text2 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  margin: 12px 0;
}

.Experience .content .text2 {
  opacity: 0.8;
  font-size: 15px;
}

.Experience .content .des {
  font-size: 14px;
}
