.Topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background-color: var(--main-border-color);
  border-bottom: 1px solid #333;
}


.Topbar .nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-border-color);
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform .3s ease-in;
  padding: 60px 30px;
}


.Topbar .nav .nav-item {
  border-bottom: 1px solid #333;
}

.Topbar .nav .nav-item a {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px 0;
  transition: color .2s;
}

.Topbar .nav .nav-item a svg {
  margin-right: 20px;
}

.Topbar .nav .nav-item:hover a {
  color: var(--main-color);
}

.Topbar .nav-active {
  transform: translateX(0);
}

.Topbar .nav-item-active {
  color: var(--main-color);
}
